name: Deploy to Maven Central
on:
  push:
    branches:
      - master
  pull_request:
  pull_request_review_comment:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - name: Set up OpenJDK 21 
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '21'
        server-id: central
        server-username: SONATYPE_USERNAME
        server-password: SONATYPE_PASSWORD
        gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
        gpg-passphrase: GPG_PASSWORD
    - name: Publish to Maven Central
      run: mvn clean deploy --no-transfer-progress -DskipTests
      env:
        SONATYPE_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        SONATYPE_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
        GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}
      
